@charset "UTF-8";

*{
	margin: auto;
	font-family: sans-serif;
}

.top-header {
	background-color: #ffffcc;
}

.top-header > h2 {
	font-size: 2rem;
	padding: 1.5em;
}

.books-list {
	display: flex;
	flex-direction: column;
	background-color: #ffffcc;
}

.books-list > h1 {
	position: relative;
	margin-top: 50px;
	padding: 1.5em;
	font-size: 3rem;
}

.topimage > img {
	width: 100%;
	height: 150px;
}

th, td {
	padding: 1.5em 3em 1.5em 3em ;
	font-size: 1.5rem;
}

table tr:nth-child(even){
	background-color: #ffb3ff;
}

table tr:nth-child(odd){
	background-color: #cc00cc;
}

ul {
	list-style-type: none;
}

li {
	margin : 2em;
	font-size: 1.5rem;
}

footer {
	background-color: #e6e6e6;
}

.submit {
	background-color: black;
	font-size: 1.5rem;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

.new-book {
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	background-color: #ffffcc;
}

.new-book > h2 {
	position: relative;
	margin-top: 50px;
	padding: 1.5em;
	font-size: 2rem;
}

.ajout {
	width: 60em;
	height: 15em;
	background-color: #5900b3;
	color: white;
	border: none;
	padding: 50px 50px 100px 50px;
	text-align: center;
}

.ajout a:visited {
	color: white;
}

.adding-form {
	padding: 12px 20px;
	margin: 8px 0px;
}

.adding-form > label {
	width: 75%;
	padding: 12px 20px;
	font-size: 1.5rem;
}

.adding-form > input {
	width: 75%;
	padding: 12px 20px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer > p {
	margin: 25px;
}

.bottomcontainer {

	display: flex;
	justify-content: space-around;
}

.bottomelements {
	padding: 1.5em;
	margin-left: 100px;
	margin-right: 100px;
}